.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: gray;
}
.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: gray;
    background-color: white;
}
